<mat-card class="example-card mat-typography" appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      @if (isEditMode) {
        <span class="f-14">{{ 'NEW_BOOKMARKER.EDIT_TITLE' | translate }}</span>
      } @else {
        <span class="f-14">{{ 'NEW_BOOKMARKER.ADD_TITLE' | translate }}</span>
      }
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="full-width bm-name" style="width: 100%">
            <mat-label>{{ 'NEW_BOOKMARKER.NAME_LABEL' | translate }}</mat-label>
            <input matInput formControlName="name" />
            @if (form.get('name')?.hasError('required')) {
              <mat-error>
                {{ 'NEW_BOOKMARKER.ERRORS.NAME_REQUIRED' | translate }}
              </mat-error>
            }
            @if (form.get('name')?.hasError('minlength')) {
              <mat-error>
                {{ 'NEW_BOOKMARKER.ERRORS.NAME_MINLENGTH' | translate }}
              </mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="full-width bm-url" style="width: 100%">
            <mat-label>{{ 'NEW_BOOKMARKER.URL_LABEL' | translate }}</mat-label>
            <input matInput formControlName="url" />
            @if (form.get('url')?.hasError('required')) {
              <mat-error>
                {{ 'NEW_BOOKMARKER.ERRORS.URL_REQUIRED' | translate }}
              </mat-error>
            }
            @if (form.get('url')?.hasError('pattern')) {
              <mat-error>
                {{ 'NEW_BOOKMARKER.ERRORS.URL_PATTERN' | translate }}
              </mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>
        <input type="hidden" formControlName="datetime" />
        <input type="hidden" formControlName="bookmarkerId" />
      </mat-grid-list>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="disableSubmit()"
        >
          @if (isEditMode) {
            <span>{{ 'NEW_BOOKMARKER.UPDATE_BUTTON' | translate }}</span>
          } @else {
            <span>{{ 'NEW_BOOKMARKER.CREATE_BUTTON' | translate }}</span>
          }
        </button>

        <button
          mat-raised-button
          color="primary"
          (click)="onCancel()"
          class="ml-15"
        >
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
