:host,
.main-container {
  display: block;
  min-height: 100vh;
}

.main-content {
  width: auto;
  display: flex;
  //justify-content: center;
  align-items: center;
  //height: 100vh;
  height: auto;
  padding: 30px;
}
